/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
	
.navbar{
    margin-bottom:0px;
    background:white;

}

#messages {
    overflow: scroll; 
    overflow-y: scroll;
    overflow-x: hidden;
}

.new_connection, .connections_confirm{
  display:inline-block;
}

.message{
    display:inline-block;
    max-width: 100%;
}

.center{
    text-align: center;
}

[class*="message-bubble"]{
    margin:2px;
    clear:both;

}

[class*="message-bubble"] span[class="message"]{
    padding: 5px 10px 5px 10px;
    background-color: #f8f8f8;
    border-radius: 14px;
}

.message-bubble-me span[class="message"]{
    background: #96ceff;    
}

.message-bubble-you span[class="message"]{
    background: #C9E39C;    
}

.message-bubble-me{
    float:right;
    text-align:right;
}

#partner_name{
    border-bottom: 2px solid #f8f8f8;
    background: white;
    padding: 6px;
    margin-top:10px;
    margin-bottom:0px;

}

#tools{
    // margin-top:10px;
}

.tool_container{
    -webkit-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
    border-bottom: 2px solid #f8f8f8;
    background: white;
    padding: 6px;
    margin-top:10px;
    margin-bottom:0px;
}

#emoticon_container{
    -webkit-box-shadow: -3px -5px 14px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px -5px 14px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -3px -5px 14px -10px rgba(0, 0, 0, 0.75);
    margin: 5px 15px;
    margin-top: 0px;
    padding:10px;
    
}

#chat-input{
    display:inline-block;
}


#emoticon_container img{
    cursor:pointer;    
}

.emoticon_container{
    // margin-left: 16px;
    // margin-right: 16px;
    background: white;
    
    max-width: 89%;
    padding:2px;
    width:252px;
    max-height:300px;
    overflow-y: scroll;
    -webkit-box-shadow: -5px 15px 21px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 15px 21px -13px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 15px 21px -13px rgba(0, 0, 0, 0.75);
        border: 2px solid #96ceff;
    margin-right: 0px;
  
}

.emoticon_container img{
    margin:2px;
    cursor: pointer;
}

#good-emoticons{
    margin-right:10px;
}

#good-emoticons:hover {
    
}

#send_button{
    height: 53px;
    background: #4793d5;
}

#good-emoticons-container, #rude-emoticons-container{
    position: absolute;
    z-index: 2;
    
}

#good-emoticons-container{
    top: -284px;
    display: none;
}

#rude-emoticons-container{
    top: -145px;
    display: none;
}