/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
	
#messages {
    overflow: scroll; 
    overflow-y: scroll;
    overflow-x: hidden;
}

.new_connection, .connections_confirm{
  display:inline-block;
}

.message{
    display:inline-block;
    max-width: 100%;
}

.center{
    text-align: center;
}

[class*="message-bubble"]{
    margin:2px;
    clear:both;

}

[class*="message-bubble"] span[class="message"]{
    padding: 5px 10px 5px 10px;
    background-color: #f8f8f8;
    border-radius: 14px;
}

.message-bubble-me span[class="message"]{
    background: #96ceff;    
}

.message-bubble-you span[class="message"]{
    background: #C9E39C;    
}

.message-bubble-me{
    float:right;
    text-align:right;
}

#tools textarea{
    margin-top:10px;
}