<div *ngIf="showSearchResults" uk-grid class="">

  <div class="uk-width-2-5 search_results">
    <ul class="uk-list uk-list-divider">
      <li *ngFor="let user of users">
        {{user.email}}
        <span *ngIf="user.status === 'confirmed'">
          <a [routerLink]="['/room', user.channel]" class="">chat</a>
        </span>

        <span *ngIf="user.status === 'confirm'">
          <a href="#" (click)="confirmFriend(user.channel, user.id)" class="uk-alert-info">confirm</a>
        </span>

        <span *ngIf="user.status === 'pending'">
          <a href="#" class="uk-alert-alert">pending</a>
        </span>

        <span *ngIf="user.status === 'new'">
          <a href="#" (click)="addFriend(user.id)" class="uk-alert-alert">add</a>
        </span>

      </li>
    </ul>
  </div>
</div>

<div class="uk-position-relative">
    <nav class="uk-navbar-container" uk-navbar="dropbar: true; dropbar-mode: push">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li>
                    <a [routerLink]="['/home']">Home</a>
                </li>
                <li>
                  <div class="uk-navbar-item">
                    <form action="javascript:void(0)">
                      <input (keyup)="onSearchChange($event.target.value)" class="uk-input uk-form-width-small" type="text" placeholder="Find friends">

                    </form>
                </div>

                </li>
            </ul>

        </div>

        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
              <li>
                <a href="#"><strong>{{auth_user}}</strong></a>
              </li>

              <li *ngIf="! auth_user">
                <a [routerLink]="['/login']">Login</a>
              </li>

              <li *ngIf="auth_user">
                <a (click)="authService.logout()">Logout</a>
              </li>

              <li *ngIf="! auth_user">
                <a [routerLink]="['/register']">Register</a>
              </li>

            </ul>

        </div>
    </nav>

    <div class="uk-navbar-dropbar"></div>
</div>
<router-outlet></router-outlet>
