<div uk-grid>
    <div class="uk-width-1-1">
      <div *ngIf="! auth_user" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <h3>Notice</h3>
          <p>Please Log in or Register to use our services</p>
      </div>
    </div>
</div>
<div *ngIf="auth_user" uk-grid>

    <div class="uk-child-width-1-1 margin_auto">

      <div *ngFor="let channel of channels" uk-grid  class="uk-background-muted item uk-width-1-1 ">
          <div class="uk-width-1-4">
            <img class="avatar" src="http://www.infragistics.com/media/8948/anonymous_200.gif" alt="Picture of user">
          </div>
          <div class="uk-width-3-4">
            {{channel.recipient}}
            <span *ngIf="channel.confirmed === true">
              <a [routerLink]="['/room', channel.channel]" class="uk-button uk-alert-primary chat_button">Chat</a>

            </span>

            <span *ngIf="channel.status === 'pending'">
              <a href="#" class="uk-button uk-alert-danger chat_disabled">Pending</a>
            </span>

            <span *ngIf="channel.status === 'confirm'">
              <a href="#" (click)="confirmFriend(channel.channel, channel.user_id, channel.channel)" class="uk-button uk-alert-alert">Accept</a>
            </span>
          </div>

      </div>

    </div>
</div>
