/* You can add global styles to this file, and also import other style files */
.emoji{
  height: 25px;
  margin:0px 1px 0px 1px;
}

.align-left{
  text-align: left;
}

.wrapper {
  max-width:940px;
  margin:auto;
}

nav{
  max-width:940px;
  margin:auto;
}

.center{
  text-align: center;
}

.margin_auto{
  margin:auto;
}
