<div uk-grid>
  <div class="uk-width-1-1" style="margin-top:100px;">
    <div class="uk-card uk-card-default uk-card-body center">
      <form #registerForm="ngForm" (ngSubmit)="onSubmit()">

          <div class="uk-margin">

              <div class="uk-inline">
                  <span class="uk-form-icon" id="username" uk-icon="icon: user"></span>
                  <input required [(ngModel)]="email" name="email" placeholder="Email" class="uk-input" type="text">
              </div>
          </div>

          <div class="uk-margin">
              <div class="uk-inline">
                  <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                  <input required  minlength="6" maxlength="24"  ngControl='password' [(ngModel)]="password" name="password" placeholder="Password" type="password" class="uk-input">
              </div>
          </div>

          <div class="uk-margin">
              <div class="uk-inline">
                  <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                  <input required  minlength="6" maxlength="24" ngControl='repeat' [(ngModel)]="password_confirmation" name="password_confirmation" placeholder="Password repeat" type="password" class="uk-input">
              </div>
          </div>
        <button [disabled]="!registerForm.form.valid" (click)="register()" class="uk-button uk-button-primary uk-center">Register</button>
      </form>
    </div>
  </div>
</div>
