<div class="col-md-12 container">
    <%= link_to 'load more', '', id: 'load_more_messages_button',class: 'btn btn-primary center', role: "button" %>
    
    <div id="conversation_container">
        <% @conversation.receipts_for(current_user).each do | msg | %>
            <div>
                <div class=" alert  message <% if msg.receiver_id == current_user.id %>alert-info pull-right justify-right<% else %>alert-success pull-left justify-left<% end %>">
                    <p><%= msg.message.body %></p>
                    <span><%= msg.created_at %></span>
                </div>
            </div>
        <% end %>
    </div>
</div>


<% content_for :scripts do %>
    <script type="text/javascript">

    </script>
<% end %>