<div class="">
  <div *ngIf="showDefault" class="drop-content emoticon-container" id="good-emoticons-container" style="display: block;">
    <div class="emoticon_container">
      <span class="default_enabled_emoticon" *ngFor="let emoji of default">
        <img (click)="insert(emoji.code)" src="{{emoji.url}}" height="25px" alt="">
        <span>0pt</span>
      </span>
    </div>
  </div>

  <div *ngIf="showRude" class="drop-content emoticon-container" id="bad-emoticons-container" style="display: block;">
    <div class="emoticon_container">
      <span *ngFor="let emoji of rude">

        <span class="default_enabled_emoticon" *ngIf="karma > emoji.cost">
          <img (click)="insertRude(emoji.code)" src="{{emoji.url}}" height="25px" alt=""/>
          <span>{{emoji.cost}}pt</span>
        </span>

        <span class="default_enabled_emoticon" *ngIf="karma < emoji.cost">
          <img style="cursor:auto;" src="{{backendRails}}/images/error.svg" height="25px" alt=""/>
          <span>N/A</span>
        </span>

      </span>
    </div>
  </div>
</div>
<img (click)="toggleDefault()" [src]="backendRails + '/images/emoticons/default/1f600.svg'"  height="35px" id="good-emoticons" alt="good emoticons" />
<img (click)="toggleRude()" [src]="backendRails + '/images/emoticons/default/1f616.svg'"  height="35px" id="bad-emoticons" alt="bad emoticons" />

<span>Karma: <span id="karma_val">{{karma}}</span></span>
